body {
    font-family: "Inter", sans-serif;
}

.header {
    background-color: #fff;
}

.navbar .navbar-brand {
    color: #101A24;
    font-family: "Inter", sans-serif;
    font-size: 32px;
}

.navbar-toggler {
    color: #fff;
    background-color: #EA6D27;
    border: none;
}

#menu-navigation .nav .nav-link.active {
    color: #fff;
    background-color: #EA6D27;
    border-radius: 5px;
}

#menu-navigation .nav .nav-link {
    color: #101A24;
}

.container .nav-link.button {
    color: #fff;
    border-radius: 10px 3px ;
    padding: 8px 16px;
    font-family: "Gentium Plus", serif;
}

.container .nav-link.button.btn-book {
    background-color: #EA6D27;
    font-size: 20px;
}

.container .nav-link.button.btn-menu {
    background-color: #101A24;
}

/* .container {
    border: 2px solid red;
} */

.container.hero {
    background-image: url("../images/hero-group.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container.about {
    background-image: url("../images/about-group.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F3F4F4;
}

.container.events {
    background-image: url("../images/about-group.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F3F4F4;
}

.title-section {
    font-family: "Gentium Plus", serif;
    font-size: 70px;
    margin-bottom: 60px;
}

.text-section {
    font-size: 18px;
    margin-bottom: 40px;
}

.container.hero .buttons {
    font-size: 20px;
    gap: 10px;
}

.container.hero .img-hero {
    border-radius: 90px 35px 90px 35px;
}

.title {
    font-family: "Gentium Plus", serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 18px;
}

.container.about .text-about {
    font-size: 16px;
    margin-bottom: 40px;
}

.check,
.text-colored {
    color: #EA6D27;
}

.nav-menu .nav-link.active {
    background-color: #EA6D27;
    color: #FFF;
}